body {
	margin: 0;
	font-size: 10px;
	line-height: 10px;
	font-family: verdana;
	background-color: #bbbbbb;
	overflow-x: hidden;
	overflow-y: auto;
}


p {
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	font-size: 2.4vw;
	line-height: 1.8vh;
}


.div-bt {
	width: 100%;
	height: auto;
	margin: 0;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
	box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
	box-pack: center;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;

    -webkit-box-align: center;
    -moz-box-align: center;
	box-align: center;
}


.bt-on {
	-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
	box-flex: 0;
	font-size: 2em;	
	padding: 10px;	
	border-radius: 4px;
	color: #00FF7F;
}


.bt-off {
	-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
	box-ordinal-group: 2;
    
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
	box-flex: 0;
	font-size: 2em;	
	padding: 10px;
	border-radius: 4px;
	color: #00FF7F;
}


.div-cont {
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
}


.img1 {
	width: 250px;
	position: relative;
	margin: auto;
	display: none;
}


.img2 {
	width: 250px;
	position: relative;
	margin: auto;
	display: block;
}


footer {
	width: 100%;
	height: auto;
	background-color: #eeeeee;
	position: fixed;
	margin: auto;
	bottom: 0;
	padding: 20px;
	
}

footer a {
	text-decoration: none;
	color: #aaaaaa;
	text-align: center;
	font-size: 2.4vw;
	line-height: 1.8vh;
}

